# Entornos virtuales
venv/
env/
.venv/

# Archivos de caché de Python y herramientas de testing
__pycache__/
*.pyc
.pytest_cache/

# Archivos generados dinámicamente 
datos_veterinarios.csv

# Archivos del sistema operativo 
.DS_Store
Thumbs.db